/ProjectManagement_WoitekIndustrie.synctex.gz
/ProjectManagement_WoitekIndustries.synctex.gz
/ProjectManagement_WoitekIndustries.pdf
/tmp
/document.aux
/document.lof
/document.log
/document.lot
/document.toc
